@import '../../index.scss';

.container {
  display: grid;

  grid-column: 1 / -1;

  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $space-lg;

  margin-bottom: $space-lg;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
  }
}

.card {
  background-color: $color-white;
  border-radius: $radius-2;
  border: $border-thin;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $space-med;
}

.icon-large {
  width: 5.5rem;
  height: 5.5rem;
  color: $color-black;
}

.icon-small {
  width: 1.6rem;
  height: 1.6rem;
  color: $color-black;
}

.med {
  padding: $space-med;
  border-bottom: $border-thin;
  border-top: $border-thin;
}

.labels {
  margin-bottom: $space-sm;
}

.labels,
.nums {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.label {
  font-weight: 800;

  &--small {
    color: $color-grey-darker;
    font-size: 1rem;
  }

  &--large {
    color: $color-black;
    font-size: 1.4rem;
  }
}

.num {
  font-weight: 600;

  &--small {
    color: $color-grey-darker;
    font-size: 1.2rem;
  }

  &--large {
    color: $color-black;
    font-size: 1.6rem;
  }
}

.footer {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(2, 1fr);

  grid-row-gap: $space-med;

  justify-items: center;

  padding: $space-med;
}

.list-item {
  display: flex;
  align-items: center;

  .icon-small {
    margin-right: $space-med;
  }

  span {
    font-weight: 500;
    color: $color-black;
    font-size: 1rem;
  }
}
